<div class="main-container" @page-animation>
  <div class="container">
    <mat-card>
      <mat-card-header>
        <div>
          <span class="mat-display-3">Project Name</span>
          <br>
          <span class="mat-subheader">Project tagline!</span>
        </div>
      </mat-card-header>
      <mat-card-content>
        This is the main card, the projects main showcase area.
      </mat-card-content>
      <mat-card-actions>
        <a target="_blank" rel="noopener" mat-button color="accent">Action Button 1</a>
        <a href="https://pmithunish.com" target="_blank" rel="noopener" mat-button color="primary">Check My Website!</a>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div class="mat-headline">Instructions</div>
      </mat-card-header>
      <mat-card-content>
        <div>
          Add any specific instructions you want viewers to follow
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a target="_blank" rel="noopener" mat-button color="accent">Action Button 1</a>
        <a href="https://pmithunish.com" target="_blank" rel="noopener" mat-button color="primary">Check My Website!</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="mat-headline">Credits or References or Notes</div>
      </mat-card-header>
      <mat-card-content>
        <div>
          Made by
          <a id="links" href="https://pmithunish.com" target="_blank" rel="noopener">Mithunish Prabhakarn</a> from India.
        </div>
      </mat-card-content>
      <mat-card-actions>
        <a target="_blank" rel="noopener" mat-button color="accent">Action Button 1</a>
        <a href="https://pmithunish.com" target="_blank" rel="noopener" mat-button color="primary">Check My Website!</a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div class="mat-headline">You love coffee☕? I like coffee☕ too!</div>
      </mat-card-header>
      <mat-card-actions>
        <a href="https://paypal.me/Mithunish/0.99usd" target="_blank" rel="noopener" mat-button color="accent">Buy Mithunish a coffee!</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
